<li class="dropdown" data-admin-menu>
    <a herf="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/Posts">&nbsp;&nbsp; Posts</a></li>
        <li><a href="/Categories">&nbsp;&nbsp; Categories</a></li>
        <li><a href="/Places">&nbsp;&nbsp; Places</a></li>
        @*<li><a href="/MembershipType">&nbsp;&nbsp; Memberships</a></li>*@
        <li><a href="/User">&nbsp;&nbsp; Members</a></li>
        <li><a href="/Analytics">&nbsp;&nbsp; Analytics</a></li>
        <li class="divider"></li>
    </ul>
</li>
