<div class="pull-right">
  <button type="submit" value="Search" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-search"></span>
    <span>Search</span>
  </button>
</div>

<div class="pull-right">
  @Html.Editor("search", new { htmlattributes = new { @class = "form-control input-sm" } })
</div>
