@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to TravelMe</h1>
    <p class="lead">In ultricies elit ut elementum cursus. Fusce egestas porttitor felis. Fusce luctus a orci at dignissim. Donec at iaculis sapien, at elementum enim. Morbi gravida pellentesque eros, non lobortis sem finibus eget. Morbi vestibulum nisl ac urna faucibus bibendum. Nunc imperdiet iaculis tellus id dapibus. Maecenas consequat leo et bibendum lobortis.</p>
</div>

<div>
    <a class="btn btn-block btn-primary" href="/Posts/Create">Add a New Post</a>
</div>

<div>
    <div id="map" class="google-map"></div>
    <script src="~/Scripts/google-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApbYcXcY_Ork3UxwlQKRmbdQwsMxSFLO8&callback=initMap"
            async defer></script>
</div>



